[package]
name = "blockchaininfo"
version = "0.2.1"
edition = "2021"

[[bench]]
name = "benchmark"
harness = false

[dev-dependencies]
blockchaininfo = { path = "."}
criterion = "0.5.1"

[lib]
name = "blockchaininfo"
path = "src/lib.rs"

[dependencies]
tokio = { version = "1.43.0", features = ["full"] }
reqwest = {version = "0.12.12", features = ["json", "rustls-tls"] }
serde_json = "1.0.137"
serde = {version = "1.0.217", features = ["derive"] }
chrono = "0.4.39"
toml = "0.8.19"
num-format = "0.4.4"
colored = "3.0.0"
# rodio = "0.20.1"
crossterm = "0.28.1"
tui = "0.19.0"
regex = "1.11.1"
clap = "4.5.26"
rand = "0.8.5"



