[package]
name = "blockchaininfo"
version = "0.2.9"
edition = "2021"

[[bench]]
name = "benchmark"
harness = false

[dev-dependencies]
blockchaininfo = { path = "."}
criterion = "0.5.1"

[lib]
name = "blockchaininfo"
path = "src/lib.rs"

[dependencies]
tokio = { version = "1.43.0", features = ["full"] }
reqwest = {version = "0.12.12", features = ["json", "rustls-tls"] }
serde_json = "1.0.139"
serde = {version = "1.0.218", features = ["derive"] }
chrono = "0.4.40"
toml = "0.8.20"
num-format = "0.4.4"
colored = "3.0.0"
crossterm = "0.28.1"
tui = "0.19.0"
regex = "1.11.1"
rand = "0.9.0"
once_cell = "1.20.3"
futures = "0.3.31"
dashmap = "6.1.0"
lazy_static = "1.4"
hex = "0.4.3"
